.avatar__wrapper {
  margin: 0 auto;
  background-color: var(--dark-black);
  width: 100%;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar__title {
  color: #fff;
  padding-bottom: 0.3rem;
  margin-bottom: 1.5rem;
  font-size: var(--h2);
  border-bottom: 2px solid var(--main-color);
}

.avatar__img {
  max-width: 500px;
  max-height: 700px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 2px 2px 10px var(--main-color);
}

.avatar__date {
  color: #fff;
}

.strong {
  color: var(--main-color);
  margin-right: 0.6rem;
}

.red {
  background-color: rgb(228, 19, 19);
  color: #fff;
}

.orange {
  background-color: rgb(224, 148, 5);
  color: #fff;
}

.green {
  background-color: rgb(0, 99, 0);
  color: #fff;
}

.avatar__relase {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}

.avatar__date {
  font-size: 1.5rem;
  margin-right: 6rem;
}

.vote__average {
  padding: 0.5rem 0.8rem;
  font-size: 1.4rem;
  border-radius: 10px;
  margin-left: 6rem;
}

.movie__description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5rem;
  flex-wrap: wrap;
}

.description {
  margin-left: 0.4rem;
  color: #fff;
  max-width: 50%;
  word-spacing: 2px;
}

.avatar__cast {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cast__title {
  font-size: var(--h2);
  color: #fff;
  letter-spacing: 1px;
  border-left: 2px solid #fff;
  padding-left: 0.7rem;
}

.actors__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* MEDIA QUERIES */

@media (max-width: 780px) {
  .avatar__title {
    margin: 2rem 0;
    font-size: var(--h1-mobile);
  }

  .avatar__img {
    max-height: 500px;
  }

  .movie__description {
    margin: 0;
  }

  .avatar__cast {
    margin-top: 3.5rem;
  }

  .actors__list {
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .cast__title {
    font-size: var(--h2-mobile);
  }

  .description {
    margin-left: 0.4rem;
    color: #fff;
    max-width: 85%;
    word-spacing: 2px;
  }
}
