.movie__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.movie__title {
  color: #fff;
  font-size: 1.3rem;

  align-self: center;
  margin-bottom: 0.7rem;
}

.movie__image {
  object-fit: cover;
  width: 300px;
  border-radius: 12px;
  height: 420px;
}
