.wrapper {
  padding: 5rem 0;
  background-color: var(--dark-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: var(--h2);
  font-weight: 300;
  color: #fff;
  letter-spacing: 1px;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 4rem;
}

.blue__bold {
  color: var(--main-color);
}

.swiper {
  width: 100%;
}

.slide {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.movie__title {
  font-size: var(--h3);
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 0.4rem;
  font-weight: 300;
}

.img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.img:hover {
  box-shadow: 0px 0px 25px 3px var(--main-color);
}

.stats__add {
  margin-top: 0.4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popularity {
  color: #fff;
  font-size: 1.3rem;
}

.vote {
  color: var(--main-color);
  margin-right: 0.5rem;
  font-weight: bold;
}

.add {
  padding: 0.5rem 1rem;
  border: 2px solid var(--main-color);
  border-radius: 2rem;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
  color: #fff;
}

.add:hover {
  background-color: #fff;
  color: black;
}

.heart {
  margin-left: 0.5rem;
  color: var(--main-color);
  font-size: 2rem;
}

/* MEDIA START */

@media (max-width: 980px) {
  .title {
    font-size: var(--h2-mobile);
  }

  .movie__title {
    font-size: var(--h3-mobile);
  }
}

@media (max-width: 770px) {
  .img {
    height: 450px;
  }

  .stats__add {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

@media (max-width: 480px) {
  .img {
    height: 500px;
  }

  .vote,
  .add {
    font-size: 1.3rem;
  }

  .title {
    margin-bottom: 2.5rem;
  }
}
