.buttons {
  display: flex;
  justify-content: center;
}

.genre__button {
  margin: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background-color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.genre__button:hover {
  color: #fff;
  background-color: var(--main-color);
}

.active {
  margin: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  color: #fff;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  cursor: pointer;
  letter-spacing: 1px;
}
