.movie__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2.2rem 1rem;
  transition: all 0.5s ease;
}

.movie__title {
  color: #fff;
  font-size: 1.5rem;
  align-self: center;
  margin-bottom: 0.7rem;
  border-bottom: 2px solid var(--main-color);
  max-width: 300px;
  text-align: center;
}

.movie__image {
  object-fit: cover;
  width: 250px;
  border-radius: 12px;
  height: 320px;
  transition: all 0.5s ease;
}

.fav__icon {
  color: var(--main-color);
  font-size: 2rem;
  margin-left: 0.3rem;
}

.movie__add {
  padding: 0.5rem 1rem;
  border: 2px solid var(--main-color);
  border-radius: 2rem;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-self: center;
  transition: all 0.5s ease;
  font-size: 1.2rem;
  color: #fff;
  margin: 0.7rem auto;
}

.movie__add:hover {
  background-color: #fff;
  color: black;
}

.movie__wrapper:hover {
  transform: scale(1.03);
}

.movie__wrapper:hover .movie__image {
  box-shadow: 0 0 20px 5px var(--main-color);
}

/* MEDIA QUERIES */

@media (max-width: 550px) {
  .movie__title {
    max-width: 80%;
    text-align: center;
  }

  .movie__image {
    max-width: 100%;
  }
  .movie__wrapper {
    align-items: center;
  }
}
