@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:wght@200;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --logo-font: "Mochiy Pop One";
  --main-font: "Poppins";
  --main-color: rgb(11, 100, 235);
  --dark-black: rgba(0, 0, 0, 0.9);
  --light-black: rgba(0, 0, 0, 0.4);
  --h1: 4rem;
  --h2: 3.5rem;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 1.5rem;
}
