.button {
  border: 1.5px solid var(--main-color);
  padding: 1rem 2rem;
  background-color: var(--main-color);
  border-radius: 2rem;
  transition: all 0.5s ease;
}

.button:hover {
  color: var(--main-color);
  background-color: #fff;
}
